extends layout 

block metas
    title Error 404 Not Found
    meta(name="description", content="Error 404 Not Found")

block content
    main.container
        h1 Error 404 Not Found
        img(src="https://www.40defiebre.com/wp-content/uploads/2013/05/Captura-de-pantalla-2017-03-02-a-las-17.14.45.png", alt="Error 404")
        a(href="/") Ir al Home.