extends layout 

block metas
    title Hola
    meta(name="description", content="Descriptción de la página Hola")

block content
    main.container
        h1 Hola
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea alias accusantium! Voluptatibus ipsa, beatae quae blanditiis quidem quos. Vero quae aliquam unde labore porro quaerat nihil natus excepturi at!
        a(href="/") Ir al home.